<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="TS" value="TechServ" />
    <add key="PS" value="PS" />
    <add key="EM" value="EM" />
    <!--临时文件夹-->
    <add key="ScratchFile" value="ScratchFile" />
    <!--文件上传根目录-->
    <add key="FileUploadRootDirectory" value="D:\Workspace\Projects\FileCenter\FileCenter" />
    <!--文件模糊化后存放根目录-->
    <add key="FileCompressRootDirectory" value="D:\Workspace\Projects\FileCenter\FileCenter\FileCompress" />
    <!--文件归档根目录-->
    <add key="FileArchiveRootDirectory" value="D:\Workspace\Projects\FileCenter\FileCenter\FileArchive" />
    <!--打包下载存放文件目录-->
    <add key="ZipFolder" value="D:\Workspace\Projects\FileCenter\FileCenter\ZipFolder" />
    <!--图片类型-->
    <add key="ImageExtension" value=".bmp,.jpg,.png,.gif,.jpeg" />
    <!--需要进行图片压缩的项目-->
    <add key="ImageCompressProjectList" value="EM3,EM4,EPRICE" />
    <!--设置压缩多少个月前的图片文件-->
    <add key="MonthToBeCompressed" value="0" />
    <!--私钥存放路径-->
    <add key="PrivateKeyFilePath" value="D:\Workspace\Projects\FileCenter\FileCenter\PrivateKey.xml" />
    <!--公钥存放路径-->
    <add key="PublicKeyFilePath" value="D:\Workspace\Projects\FileCenter\FileCenter\PublicKey.xml" />
    <!--文件服务域名-->
    <add key="FileCenterDomain" value="http://localhost:8002" />

    <!--定时任务计算表达式，Key格式固定为ScheduleExpressionOf{Job类名}-->
    <!--图片压缩任务在什么小时点开始-->
    <add key="ScheduleExpressionOfCompressJob" value="0 0 1 * * ? *" />
    <!--文件归档任务在什么小时点开始-->
    <add key="ScheduleExpressionOfFileArchiveJob" value="0 44 14 * * ? *" />
    
    <!--系统开关配置-->
    <!--是否只允许下载一次-->
    <add key="AllowDownloadOnce" value="false" />

    <!--大文件分片文件存储目录-->
    <add key="BigFileTempStorage" value="D:\Workspace\Projects\FileCenter\FileCenter\BigFileTempStorage" />

    <!--是否测试-->
    <add key="IsTest" value="true" />
    <!--是否启用定时任务-->
    <add key="EnableJob" value="true" />
    <!--FileService认证授权-->
    <add key="AppId" value="CEB6AE7D57BB52960ABD" />
    <add key="AppSecret" value="F11883A29C389F3C03CAA84D2D0F74" />
    <add key="VerifyPublicKey" value="BgIAAACkAABSU0ExAAgAAAEAAQDRs9MP5Xd6c9x+ECA4vWciDUUr+3sSN6hrO4V13/1f4hspMc8vjnXnUZYOsPG7ROTEZKHE4pgwSnmkqLNgEBRT83y6Owdgbe0jR3xE+On5BLMBweYQInGda/blJxQzcCoYOzO57m9UW53LpbuSdlcwawhMZzVyRJV8GEZOOZ0U2XvA6PcipzjmkS6IAvpBaPsQW29QksaLxDVxS6LL/ns0/i1qoB3jABCG8/FI13iL+IQboMbb31OU7F0ZmKKeoydMExXi1tm+SMnnjqCSiP+hwMR7s2R23gN/KAnvFHqhT8NV3yUSkDFkMp6RjKkodqkXa0uWuhi4FRYBCeALPZ+4" />

  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" maxRequestLength="10485760" executionTimeout="3600" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.webServer>
    <security>
      <requestFiltering allowDoubleEscaping="true">
        <requestLimits maxAllowedContentLength="2147483647" />
      </requestFiltering>
    </security>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <directoryBrowse enabled="true" />
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Methods" value="GET,POST,PUT,DELETE,HEAD,OPTIONS" />
        <add name="Access-Control-Allow-Headers" value="Content-Type,api_key,Authorization,X-Requested-With" />
      </customHeaders>
    </httpProtocol>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <connectionStrings> 
    <!--<add name="FileCenterEntities" connectionString="metadata=res://*/FileModel.csdl|res://*/FileModel.ssdl|res://*/FileModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.130.123.174;initial catalog=FileCenter;user id=sa;password=Sa1234@;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="FileCenterEntities" providerName="System.Data.SqlClient" connectionString="Data Source=10.233.217.39; Initial Catalog=FileCenter; user id=user_bfp;password=He1105017;persist security info=True;packet size=4096" />
    <!--<add name="FileCenterEntities" providerName="System.Data.SqlClient" connectionString="Data Source=10.130.123.174; Initial Catalog=FileCenter; user id=sa;password=Sa1234@;persist security info=True;packet size=4096" />-->
    <!--<add name="FileCenterEntities" providerName="System.Data.SqlClient" connectionString="Data Source=10.130.123.174; Initial Catalog=FileCenter_TEST; user id=sa;password=Sa1234@;persist security info=True;packet size=4096" />-->
    <!--<add name="FileCenterEntities" providerName="System.Data.SqlClient" connectionString="Data Source=10.233.217.96; Initial Catalog=FileCenter; user id=user_ps;password=user_ps;persist security info=True;packet size=4096" />-->
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>