################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Autofucs/ConsoleApp/.vs
/Autofucs/ConsoleApp/obj/Debug
/Autofucs/ConsoleApp/packages
/Autofucs/.vs
/Autofucs/ConsoleApp/bin/Debug
/Autofucs/packages
/CastleProjects/.vs
/CastleProjects/ConsoleApp/obj/Debug
/CastleProjects/CastleDynamicProxies/bin/Debug
/CastleProjects/CastleDynamicProxies/obj/Debug
/CastleProjects/CastleInterceptor/bin/Debug
/CastleProjects/CastleInterceptor/obj/Debug
/CastleProjects/packages
/CastleProjects/ConsoleApp/ConsoleApp.csproj.user
/WebServices/.vs
/WebServices/ConsoleApp/obj/Debug
/WebServices/packages/Newtonsoft.Json.12.0.3
/WebServices/WebService20200325/bin
/WebServices/WebService20200325/obj/Debug
/WebServices/.vs
/WebServices/ConsoleApp/ConsoleApp.csproj.user
/TextTemplateTransformationToolkits/.vs
/TextTemplateTransformationToolkits/ConsoleApp/obj/Debug
/TextTemplateTransformationToolkits/T4Demo/bin/Debug
/TextTemplateTransformationToolkits/T4Demo/obj/Debug
/TextTemplateTransformationToolkits/EntitiesGeneratorTemplate/bin/Debug
/TextTemplateTransformationToolkits/EntitiesGeneratorTemplate/obj/Debug
/AspNets/.vs
/AspNets/ConsoleApp/obj/Debug
/AspNets/.vs
/AspNets/ConsoleApp/bin/Debug
/AspNets/packages
/AspNets/Web_FormAuthentication/bin
/AspNets/Web_FormAuthentication/obj/Debug
/AspNets/Web_ProcessRequest/bin
/AspNets/Web_ProcessRequest/obj/Debug
/EntityFrameworks/.vs
/EntityFrameworks/ConsoleApp/obj/Debug
/EntityFrameworks/ConsoleApp/ConsoleApp.csproj.user
/EntityFrameworks/EntityFramework/bin/Debug
/EntityFrameworks/EntityFramework/obj/Debug
/EntityFrameworks/packages/EntityFramework.6.4.4
/NamedPipes/.vs
/NamedPipes/ConsoleApp/obj/Debug
/NamedPipes/ConsoleApp/bin/Debug
/NamedPipes/PipeClient/bin/Debug
/NamedPipes/PipeClient/obj/Debug
/NamedPipes/PipeServer/bin/Debug
/NamedPipes/PipeServer/obj/Debug
/Encryptions/.vs
/Encryptions/ConsoleApp/bin/Debug
/Encryptions/ConsoleApp/obj/Debug
/Encryptions/Encryption_RSA/bin/Debug
/Encryptions/Encryption_RSA/obj/Debug
/Printers/.vs
/Printers/ConsoleApp/obj/Debug
/Printers/Printer_Zebra_EZ320/bin/Debug
/Printers/Printer_Zebra_EZ320/obj/Debug
/Printers/ConsoleApp/bin/Debug
/Influxdbs/.vs
/Influxdbs/Influxdb_1/bin/Debug
/Influxdbs/Influxdb_1/obj/Debug
/Influxdbs/packages
/Influxdbs/ConsoleApp/obj/Debug
/UnitOfWorks/.vs
/UnitOfWorks/ConsoleApp/obj/Debug
/UnitOfWorks/ConsoleApp/bin/Debug
/UnitOfWorks/packages
/UnitOfWorks/UnitOfWorkStudy_1/bin/Debug
/UnitOfWorks/UnitOfWorkStudy_1/obj/Debug
/Files/.vs
/Files/ConsoleApp/obj/Debug
/Files/File_Client/bin/Debug
/Files/File_Client/obj/Debug
/SerialPorts/.vs/SerialPorts/v16
/SerialPorts/ConsoleApp/obj/Debug
/SerialPorts/ReadSerialPort_1/obj/Debug
/CSharps/ConsoleApp/obj/Debug
/CSharps/.vs/CSharps/v16
/CSharps/IEnumerator_1/obj/Debug
/CSharps/IEnumerator_1/bin/Debug
/CSharps/Keyword_Yield/obj/Debug
/CSharps/Keyword_Yield/bin/Debug
/CSharps/LambdaExpression_1/bin/Debug
/CSharps/LambdaExpression_1/obj/Debug
/CSharps/LambdaExpression_2/bin/Debug
/CSharps/LambdaExpression_2/obj/Debug
/CSharps/QueryableProvider/bin/Debug
/CSharps/QueryableProvider/obj/Debug
/SQLites/.vs/SQLites/v16
/SQLites/ConsoleApp/obj/Debug
/SQLites/ConsoleApp/bin/Debug
/SQLites/packages
/SQLites/ReadSqlite/obj/Debug
/SQLites/ReadSqlite/App
/PDFs/.vs/PDFs/v16
/PDFs/ConsoleApp/bin/Debug
/PDFs/ConsoleApp/obj/Debug
/PDFs/ExcelToPdf/App
/PDFs/ExcelToPdf/excels
/PDFs/ExcelToPdf/obj/Debug
/Excels/.vs/Excels/v16
/Excels/ConsoleApp/bin/Debug
/Excels/ConsoleApp/obj/Debug
/Excels/ReadExcelAbove2007/bin/Debug
/Excels/ReadExcelAbove2007/obj/Debug
/Excels/ReadExcelBelow2007/bin/Debug
/Excels/ReadExcelBelow2007/obj/Debug
/Impersonates/.vs/Impersonates/v16
/Impersonates/ConsoleApp/obj/Debug
/Impersonates/ReadRemoteFileViaImpersonate/bin/Debug
/Impersonates/ReadRemoteFileViaImpersonate/obj/Debug
/Arithmetics/.vs/Arithmetics/v16
/Arithmetics/Common/obj/Debug
/Arithmetics/ConsoleApp/obj/Debug
/Arithmetics/sortArithmetic_Insertion/obj/Debug
/Arithmetics/sortArithmetic_QuickSort/obj/Debug
/Nugets/.vs/Nugets
/Nugets/ClassLibrary20190327/bin/Debug
/Nugets/ClassLibrary20190327/obj/Debug
/Nugets/ConsoleApp/obj/Debug
/Nugets/server/bin
/Nugets/server/obj/Debug
/Nugets/server.Tests/obj/Debug
/Nugets/ConsoleApp/bin/Debug
/Nugets/packages
/Nugets/server.Tests/bin/Debug
/Files/DistributedFileSystem_Client/bin/Debug
/Files/DistributedFileSystem_Client/obj/Debug
/Files/ConsoleApp/bin/Debug
/Files/packages
/DistributedFileSystems/.vs/DistributedFileSystem
/DistributedFileSystems/ConsoleApp/bin/Debug
/DistributedFileSystems/ConsoleApp/obj/Debug
/DistributedFileSystems/DistributedFileSystem_Client/bin/Debug
/DistributedFileSystems/DistributedFileSystem_Client/obj/Debug
/DistributedFileSystems/DistributedFileSystem_Server/bin
/DistributedFileSystems/DistributedFileSystem_Server/Logs
/DistributedFileSystems/DistributedFileSystem_Server/obj/Debug
/DistributedFileSystems/packages
/DistributedFileSystems/Dll
/Utilities/.vs/Utilities
/Utilities/ConsoleApp/obj/Debug
/Utilities/Utils/obj/Debug
/Utilities/packages
/Sockets/.vs/Sockets/v16
/Sockets/ConsoleApp/bin/Debug
/Sockets/ConsoleApp/obj/Debug
/Sockets/DataCollectService/bin/Debug
/Sockets/DataCollectService/obj/Debug
/Sockets/DataCollectServiceClient/bin/Debug
/Sockets/DataCollectServiceClient/obj/Debug
/Sockets/Helper/bin/Debug
/Sockets/Helper/obj/Debug
/Sockets/Net4Logger/bin/Debug
/Sockets/Net4Logger/obj/Debug
/Sockets/packages
/Sockets/ParseDataItemTool/bin/Debug
/Sockets/ParseDataItemTool/obj/Debug
/Sockets/SimulateClient/bin/Debug
/Sockets/SimulateClient/obj/Debug
/Sockets/SocketAsyncEventArgsClient/bin/Debug
/Sockets/SocketAsyncEventArgsClient/obj/Debug
/Sockets/SocketAsyncEventArgsServer/bin/Debug
/Sockets/SocketAsyncEventArgsServer/obj/Debug
/Mongos/.vs/Mongos/v16
/Mongos/ConsoleApp/bin/Debug
/Mongos/ConsoleApp/obj/Debug
/Mongos/CURD/bin/Debug
/Mongos/CURD/obj/Debug
/Mongos/packages
/DesignPatterns/.vs/DesignPatterns
/DesignPatterns/ConsoleApp/obj/Debug
/DesignPatterns/ContextPattern/obj/Debug
/DesignPatterns/CSharpExtensionMethodDemo/obj/Debug
/DesignPatterns/DistributeExtensionPatternDemo/obj/Debug
/DesignPatterns/EventBusPatternDemo/obj/Debug
/DesignPatterns/FactoryDesignPatternDemo/obj/Debug
/DesignPatterns/FluentProgramPattern/obj/Debug
/DesignPatterns/ObserverDesignPatternDemo/obj/Debug
/DesignPatterns/ObserverDesignPatternDemo_Event/obj/Debug
/DesignPatterns/PartialClassAndMethodDemo/obj/Debug
/DesignPatterns/PipelinePatternDemo/obj/Debug
/DesignPatterns/ProgramProvidePatternDemo/obj/Debug
/DesignPatterns/UnitTestDemo/UnitTestDemo/obj/Debug
/CSharps/Keyword_Tuple/bin/Debug
/CSharps/Keyword_Tuple/obj/Debug
/CSharps/Interface_IEnumerable/bin/Debug
/CSharps/Interface_IEnumerable/obj/Debug
/CSharps/Keyboard_Delegate/bin/Debug
/CSharps/Keyboard_Delegate/obj/Debug
/CSharps/Lambda/obj/Debug
/CSharps/Lambda/bin/Debug
/CSharps/ExpressionTree/bin/Debug
/CSharps/ExpressionTree/obj/Debug
/CSharps/packages/Newtonsoft.Json.12.0.3
/CSharps/Interface_IQueryable/bin/Debug
/CSharps/Interface_IQueryable/obj/Debug
