<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
  <appSettings>
    <add key="username" value="fred.bao"/>
    <add key="password" value="123qwe"/>
    <add key="domain" value="192.168.1.21"/>
    <add key="directory" value="\\product.team\对刀仪文件\"/>
    <add key="filename" value="Protocol.txt"/>
  </appSettings>
</configuration>
