<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
  <appSettings>
    <add key="username" value="fred.bao"/>
    <add key="password" value="123qwe"/>
    <add key="domain" value="192.168.1.21"/>
    <add key="directory" value="\\192.168.1.21\青岛四方-车轮线\CMM\FlawDetectionReport\"/>
    <add key="filename" value="31582110019_000803950037.xlsx"/>
  </appSettings>
</configuration>
