<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="ConnectionString" value="mongodb://sa:sa@192.168.0.95:27017/admin"/>
    <add key="DatabaseName" value="BTLTest"/>
    <add key="MacConfigCollection" value="MachineInfo"/>
    <add key="MacInfoCollection" value="MachineGatherRecords"/>
    <add key="ListenAddress" value="127.0.0.1"/>
    <add key="ListenPort" value="11000"/>
    <add key="HostCode" value="WIMI"/>

    <!--<add key="ConnectionString" value="mongodb://127.0.0.1:27017"/>
    <add key="DatabaseName" value="LocalTest"/>
    <add key="MacConfigCollection" value="MachineInfo"/>
    <add key="MacInfoCollection" value="MachineGatherRecords"/>
    <add key="ListenAddress" value="127.0.0.1"/>
    <add key="ListenPort" value="11000"/>
    <add key ="ExceptionCollection" value="Exceptions"/>-->
  </appSettings>
</configuration>