<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>

    <add key="ConnectionString" value="mongodb://114.55.172.95:27017"/>
    <add key="DatabaseName" value="CloudTest"/>
    <add key="MacConfigCollection" value="MachineInfo"/>
    <add key="ExceptionCollection" value="Exception"/>
    <add key="ListenPort" value="11000"/>
    <add key="MaxClient" value="100"/>
    <add key="BufferSize" value="1024"/>
  </appSettings>
</configuration>